<div class="fitbit">
  <div id="googleMap"></div>
  <div class='arc-spinner'>
      <div class='arc-spinner-1'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-2'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-3'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-4'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-5'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-6'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-7'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-8'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-9'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-10'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-11'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
      <div class='arc-spinner-12'>
        <div class='arc-quadrant arc-top'></div>
        <div class='arc-quadrant arc-right'></div>
        <div class='arc-quadrant arc-bottom'></div>
        <div class='arc-quadrant arc-left'></div>
      </div>
  </div>
  <div id="radial"></div>
</div>
