<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Built with <a href="https://ghost.org/" target="_blank">Ghost</a> and <a href="https://github.com/Kikobeats/uno-zen" target="_blank">Uno Zen</a> theme. Wallpaper created by <a href="https://www.reddit.com/r/wallpapers/comments/eq456/tron_inspired_wallpaper_updated_saved_as_png_more/" target="_blan">juicedesigns</a>
  </span>
</footer>
