{{!< default}}

{{#post}}

  <article class="{{post_class}} project-page">
    <header>
      <h1 id="post-title">Projects</h1>
    </header>

    <section class="{{post_class}} projects">
        <div class="project">
          <a href="http://neatga.me/" class="project-thumb" style="background-image: url('/assets/img/neatgame.png')">
          </a>
          <div class="details">
            <div class="text">
              <h3><a href="http://neatga.me/">neatga.me</a></h3>
              <p>Game Review Aggregator</p>
            </div>
          </div>
        </div>
        <div class="project">
          <a href="http://ben-yu.github.io/ludum29/" class="project-thumb" style="background-image: url('http://i.imgur.com/SzghCkF.gif')">
          </a>
          <div class="details">
            <div class="text">
              <h3><a href="http://ben-yu.github.io/ludum29/">Dolphins</a></h3>
              <p>Game for Ludum Dare 29</p>
            </div>
          </div>
        </div>
        <div class="project">
          <a href="http://ben-yu.github.io/fractals/" class="project-thumb" style="background-image: url('/assets/img/fractal.gif')">
          </a>
          <div class="details">
            <div class="text">
              <h3><a href="http://ben-yu.github.io/fractals/">Fractals</a></h3>
              <p>Fractals in WebGL</p>
            </div>
          </div>
        </div>
          <div class="project">
            <a href="/forward" class="project-thumb" style="background-image: url('/assets/img/forward_200.png')">
            </a>
            <div class="details">
              <div class="text">
                <h3>
                  <a href="/forward">Forward</a></h3>
                <p>Email Re-imagined</p>
              </div>
            </div>
          </div>
          <div class="project">
            <a href="http://space-bees.herokuapp.com/" class="project-thumb" style="background-image: url('/assets/img/space.gif')">
            </a>
            <div class="details">
              <div class="text">
                <h3>
                  <a href="http://space-bees.herokuapp.com/">Space Bees</a></h3>
                <p>A WebGL Game</p>
              </div>
            </div>
          </div>
          <div class="project">
            <a href="/raytracer" class="project-thumb" style="background-image: url('/assets/img/raytrace.bmp')">
            </a>
            <div class="details">
              <div class="text">
                <h3>
                  <a href="/raytracer">Raytracer - CSC418</a></h3>
                <p>Basic raytracer in C++</p>
              </div>
            </div>
          </div>
          <div class="project">
            <a href="/sones" class="project-thumb" style="background-image: url('/assets/img/sones_2.png')">
            </a>
            <div class="details">
              <div class="text">
                <h3><a href="/sones">Sones</a></h3>
                <p>iOS hearing diagnostic app</p>
              </div>
            </div>
          </div>
          <div class="project">
            <a href="/bsx" class="project-thumb" style="background-image: url('/assets/img/BSX_200.jpg')">
            </a>
            <div class="details">
              <div class="text">
                <h3>
                  <a href="/bsx">Battery Sorter Extreme</a></h3>
                <p>AER201 Project</p>
              </div>
            </div>
          </div>
    </section>

  </article>

{{/post}}
