$width: 400px;
$height: 400px;
$arcSpacing: 15px;

/* box def: color direction timing duration delay sides */
$arcs: hsl(188, 30%, 50%) normal linear 4s 0 solid 2px top right,
       hsl(188, 35%, 50%) reverse linear 5s 0.1s dashed 2px bottom left,
       hsl(188, 40%, 50%) alternate ease-in-out 4s 0.2s solid 2px right,
       hsl(188, 45%, 50%) alternate-reverse ease-in-out 4s 0.3s solid 2px left,
       hsl(188, 50%, 50%) normal linear 4s 0.4s dashed 2px top bottom,
       hsl(188, 55%, 50%) reverse linear 5s 0.5s solid 2px left right,
       hsl(188, 60%, 50%) alternate ease-in-out 4s 0.6s solid 4px right bottom left,
       hsl(188, 65%, 50%) alternate-reverse ease-in-out 4s 0.7s dashed 2px right,
       hsl(188, 70%, 50%) normal linear 4s 0.8s dotted 2px top right bottom,
       hsl(188, 75%, 50%) reverse linear 5s 0.9s solid 3px top,
       hsl(188, 80%, 50%) alternate ease-in-out 4s 1s dashed 2px right bottom,
       hsl(188, 85%, 50%) alternate-reverse ease-in-out 4s 1.1s solid 4px left top;

@function offset-width($offset) {
    @return $width - $offset * 2;
}

@function offset-height($offset) {
    @return $height - $offset * 2;
}

@mixin position($offset)
{
    position: absolute;
    top: $offset;
    left: $offset;
    width: offset-width($offset);
    height: offset-height($offset);
    border-radius: 50%;
}

@mixin arc-clip($side, $top, $right, $bottom, $left)
{
    .arc-#{$side} {
        clip: rect($top, $right, $bottom, $left);
    }
}

@mixin arc-animation($number, $arcDef)
{
    $color: nth($arcDef, 1);
    $direction: nth($arcDef, 2);
    $timing: nth($arcDef, 3);
    $duration: nth($arcDef, 4);
    $delay: nth($arcDef, 5);
    $pattern: nth($arcDef, 6);
    $borderWidth: nth($arcDef, 7);
    $sides: nth($arcDef, 8);

    $arcOffset: ($number - 1) * $arcSpacing;
    @include position($arcOffset);
    @include animation-duration($duration);
    @include transform(rotate(45deg));
    @include animation-delay($delay);
    @include animation-direction($direction);
    @include animation-name(arc-spinner);
    @include animation-iteration-count(infinite);
    @include animation-timing-function($timing);

    .arc-top, .arc-right, .arc-bottom, .arc-left {
        border: $borderWidth $pattern $color;
    }

    @include arc-clip(top, 0, offset-width($arcOffset) / 2, offset-height($arcOffset) / 2, 0);
    @include arc-clip(right, 0, offset-width($arcOffset), offset-height($arcOffset) / 2, offset-width($arcOffset) / 2);
    @include arc-clip(bottom, offset-height($arcOffset) / 2, offset-width($arcOffset), offset-height($arcOffset), offset-width($arcOffset) / 2);
    @include arc-clip(left, offset-height($arcOffset) / 2, offset-width($arcOffset) / 2, offset-height($arcOffset), 0);

    @for $i from 6 through length($arcDef)
    {
        $side: nth($arcDef, $i);
        .arc-#{$side} {
            display: block;
        }
    }
}

@mixin arcs()
{

    @for $i from 1 through length($arcs)
    {
        .arc-spinner-#{$i} {
            position: relative;
            @include arc-animation($i, nth($arcs, $i));
        }
    }
}

@mixin keyframes-arc-spinner()
{
    0% { @include transform(rotate(45deg)); }
    100% { @include transform(rotate(405deg)); }
}

.fitbit {
    position: relative;
    display: none;
}

.circle-text, #googleMap {
    position: absolute;
    left: 200px - 75px;
    top: 200px - 75px;
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 0; // Fix chrome rendering bug with border-radius
}

.arc-spinner {
    position: absolute;
    width: $width;
    height: $height;
    z-index: -1;
    @include box-sizing('border-box');

    * { @include box-sizing('border-box'); }
    @include arcs();
}

.arc-quadrant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

@-webkit-keyframes arc-spinner { @include keyframes-arc-spinner(); }
@-moz-keyframes arc-spinner { @include keyframes-arc-spinner(); }
@-ms-keyframes arc-spinner { @include keyframes-arc-spinner(); }
@-o-keyframes arc-spinner { @include keyframes-arc-spinner(); }
@keyframes arc-spinner { @include keyframes-arc-spinner(); }
